<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="adidas_mens"></div>
<div class="desktop-categories"><h1>Adidas Originals</h1></div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items mob-ul">Adidas Originals</h1>
    <% @adidas.each do |adidas_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div">
          <% if adidas_items.class == FashionItem %>
            <a href="/item/<%= adidas_items.id %>">
              <%= image_tag adidas_items.item_image.url(:medium) %>
              <div class="description_content">
                <% if adidas_items.sale == true %>
                  <table>
                    <tr class="specials_table">
                    <td><strike><em>$<%= zeros(adidas_items.price) %></em></strike></td>
                    <td>$<%= zeros(adidas_items.sale_price) %></td>
                    </tr>
                  </table>
                <% else %>
                  <table>
                    <tr class="normal_table">
                    <td>$<%= zeros(adidas_items.price) %></td>
                    </tr>
                  </table>
                <% end %>
                <p><%= adidas_items.short_description %></p>
                <p><%= word_branding(adidas_items.brand) %></p>
              </div>
            </a>
          <% elsif adidas_items.class == ShopTheLookImage %>
            <a href="/shop_the_look_images/<%= adidas_items.id %>">
              <%= image_tag adidas_items.shop_look_image.url(:medium) %>
              <div class="description_content">
                <table>
                  <tr class="shop_look_table">
                  </tr>
                </table>
                <div class="shop-the-look-description">
                  <h2>Shop The Look</h2>
                  <p><%= word_branding(adidas_items.shop_the_look_items.first.brand) %></p>
                  </div>
              </div>
            </a>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<%= render 'templates/footer/footer' %>