<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="daniel_wellington_mens"></div>
<div class="desktop-categories"><h1>Daniel Wellington</h1></div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items mob-ul">Daniel Wellington</h1>
    <%= render 'templates/all_brands_display' %>
  </div>
</div>
<%= render 'templates/footer/footer' %>