<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="just_another_fisherman_mens"></div>
<div class="desktop-categories"><h1>Just Another Fisherman</h1></div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items mob-ul">Just Another Fisherman</h1>
    <div id="products">
      <%= render 'templates/all_brands_display' %>
    </div>
  </div>
</div>
<% if @all_items.length > 12 %>
  <img src="/assets/load_more_icon.png" alt="" id="paginate_page">
<% end %>
<div id="hide-page-numbers">
  <%= will_paginate @all_items %>
</div>
<%= render 'templates/footer/footer' %>