<div class="search_bar">
  <%= render "templates/men_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>
<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="womens_main_photo">
    </div>
  </div>
</div>
<div class="mens-main-menu-side">
  <%= render "templates/side_navigation_mens" %>
</div>
<div class="container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div>
    <h1 class="your-items">Nautica</h1>
    <%= render "templates/horizontal_line" %>
    <% @nautica.each do |nautica_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div">
          <a href="/item/<%= nautica_items.id %>">
            <%= image_tag nautica_items.item_image.url(:medium) %>
          <div class="description_content">
            <% if nautica_items.sale == true %>
            <table>
              <tr class="specials_table">
                <td><strike><em>$<%= zeros(nautica_items.price) %></em></strike></td>
                <td>$<%= zeros(nautica_items.sale_price) %></td>
              </tr>
            </table>
            <% else %>
            <table>
              <tr class="normal_table">
                <td>$<%= zeros(nautica_items.price) %></td>
              </tr>
            </table>
            <% end %>
            <p><%= nautica_items.short_description %></p>
            <p><%= word_branding(nautica_items.brand) %></p>
          </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>