<div class="search_bar">
  <%= render "templates/men_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_mens" %>
<% end %>
<%= render "/templates/mobile_navigation_sliding_div_mens" %>
<div class="item_navigation_top_mens">
  <%= render "templates/item_navigation_mens" %>
</div>
<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="retro_marine_mens">
    </div>
  </div>
</div>
<div class="menu-side">
  <%= render "templates/side_navigation_mens_extra_margin" %>
</div>
<div class="container mobile_container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div>
    <h1 class="your-items mob-ul">retromarine</h1>
    <%= render "templates/horizontal_line" %>
    <% @retro_marine.each do |retro_marine_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div">
          <% if retro_marine_items.class == FashionItem %>
            <a href="/item/<%= retro_marine_items.id %>">
              <%= image_tag retro_marine_items.item_image.url(:medium) %>
              <div class="description_content">
                <% if retro_marine_items.sale == true %>
                  <table>
                    <tr class="specials_table">
                    <td><strike><em>$<%= zeros(retro_marine_items.price) %></em></strike></td>
                    <td>$<%= zeros(retro_marine_items.sale_price) %></td>
                    </tr>
                  </table>
                <% else %>
                  <table>
                    <tr class="normal_table">
                    <td>$<%= zeros(retro_marine_items.price) %></td>
                    </tr>
                  </table>
                <% end %>
                <p><%= retro_marine_items.short_description %></p>
                <p><%= word_branding(retro_marine_items.brand) %></p>
              </div>
            </a>
          <% elsif retro_marine_items.class == ShopTheLookImage %>
            <a href="/shop_the_look_images/<%= retro_marine_items.id %>">
              <%= image_tag retro_marine_items.shop_look_image.url(:medium) %>
              <div class="description_content">
                <table>
                  <tr class="shop_look_table">
                  </tr>
                </table>
                <div class="shop-the-look-description">
                  <h2>Shop The Look</h2>
                  <p><%= word_branding(retro_marine_items.shop_the_look_items.first.brand) %></p>
                </div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'templates/mail_chimp_form_mens' %>