<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items mob-ul">Search Results Men's</h1>
    <div id="products">
      <%= render "templates/all_items_display"  %>
    </div>
    </div>
  </div>
</div>
<%= render "templates/image_loader" %>
<%= render 'templates/footer/footer' %>