<%= render "templates/client/client_navigation" %>
  <div style="overflow-x: auto;">
    <table class="sort-table">
      <tr class="sorting-table-rows">
        <th>IMAGE</th>
        <th><%= sortable "sex", "GENDER" %><div class="arrow-down-sort-gender"></div></th>
        <th><%= sortable "brand", "BRAND" %></th>
        <th><%= sortable "description", "DESCRIPTION" %></th>
        <th><%= sortable "price", "PRICE" %></th>
        <th><%= sortable "sale", "ON SALE" %><div class="arrow-down-sort-sale"></div></th>
        <th><%= sortable "created_at", "CREATED ON" %></th>
        <th>Action</th>
      </tr>
      <% @users_items.each do |item| %>
        <tr class="users-sorting-items">
          <td class="table-image-client">
            <div class="table-image">
              <%= image_tag item.item_image.url(:thumb), class: "thumbnail" %>
            </div>
          </td>
          <td><%= item.sex %></td>
          <td><%= word_branding(item.brand) %></td>
          <td><%= item.description.slice(0..20) + ".." %></td>
          <td>$<%= zeros(item.price) %></td>
          <%if item.sale == false %>
            <td class="sale-false-admin">
            </td>
          <% else %>
            <td class="sale-true-admin">
              <p>$<%= zeros(item.sale_price) %></p>
            </td>
          <% end %>
          <td>
            <p><%= item.created_at.strftime("%m/%d/%y") %></p>
            <p><%= item.created_at.strftime("%I:%M%p") %></p>
          </td>
          <td>
            <p><%= link_to 'Edit', edit_item_path(item.id) %></p>
            <p><%= link_to 'Delete', item_path(item.id), method: :delete %></p>
            <p><%= link_to 'Show', item_path(item) %></p></td>
          </td>
        </tr>
      <% end %>
    </table>
  </div>