<%= render "templates/client/client_navigation" %>
  <div style="overflow-x: auto;">
    <table class="sort-table">
      <tr class="sorting-table-rows">
        <th>Image</th>
        <th><%= sortable "sex" %></th>
        <th><%= sortable "brand" %></th>
        <th><%= sortable "description" %></th>
        <th><%= sortable "shipped_from" %></th>
        <th><%= sortable "price" %></th>
        <th><%= sortable "sale", "On Sale" %></th>
        <th><%= sortable "created_at" %></th>
        <th>Action</th>
      </tr>
      <% @users_items.each do |item| %>
        <tr class="users-sorting-items">
          <td>
            <div class="table-image">
              <%= image_tag item.item_image.url(:thumb), class: "thumbnail" %>
              <p><%= item.short_description %></p>
            </div>
          </td>
          <td><%= item.sex %></td>
          <td><%= word_branding(item.brand) %></td>
          <td><%= item.description.slice(0..50) + "..." %></td>
          <td><%= item.shipped_from %></td>
          <td>$<%= zeros(item.price) %></td>
          <td>
            <%if item.sale == false %>
              <%= 'No' %>
            <% else %>
              <%= 'Yes' %><br>
              $<%= zeros(item.sale_price) %>
            <% end %>
          </td>
          <td>
            <p><%= item.created_at.strftime("%m/%d/%y") %></p>
            <p><%= item.created_at.strftime("%I:%M%p") %></p>
          </td>
          <td>
            <p><%= link_to 'Edit', edit_item_path(item.id) %></p>
            <p><%= link_to 'Delete', item_path(item.id), method: :delete %></p>
            <p><%= link_to 'Show', item_path(item) %></p></td>
          </td>
        </tr>
      <% end %>
    </table>
  </div>