<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>
<% if @item.sex == 'Mens' %>
  <div class="logo-image">
    <img src="../assets/BEEEE.jpg" alt="" class="image_bee">
    <h2>MENS</h2>
  </div>
  <div class="mens-main-menu-side">
    <%= render "templates/side_navigation_mens" %>
  </div>
  <div class="item_navigation">
    <%= render "templates/item_navigation_mens_subcat" %>
  </div>
<% elsif @item.sex == 'Womens' %>
  <div class="logo-image">
    <img src="../assets/BEEEE.jpg" alt="" class="image_bee">
    <h2>WOMENS</h2>
  </div>
  <div class="mens-main-menu-side">
    <%= render "templates/side_navigation_womens" %>
  </div>
  <div class="item_navigation">
    <%= render "templates/item_navigation_womens_subcat" %>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="show-box">
      <div class="image-show-box">
        <%= image_tag @item.item_image.url(:medium) %>
        <p><em><%= @item.brand %></em></p>
        <p><em>Shipped from <%= @item.shipped_from %></em></p>
      </div>
      <div class="description-show-box">
        <h3><em><%= @item.short_description %></em></h3>
        <% if @item.sale == true %>
          <h3><strike><em>$<%= zeros(@item.price) %></em></strike>&nbsp&nbsp<em>$<%= zeros(@item.sale_price) %></em></h3>
          <p><em>%<%= percentage(@item.price, @item.sale_price) %> off!</em></p>
        <% else %>
          <h3><em>$<%= zeros(@item.price) %></em></h3>
        <% end %>
        <p><%= @item.description %></p>
        <div class="show-button">
          <a href="http://<%= @item.unique_affiliate_url %>" target="_blank">
            <button class="btn btn-success">Show now &nbsp<i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>