<% all_men_brands_array = ["i love ugly", "just another fisherman", "mvmt", "moreporks", "new balance", "retromarine", "sunday somewhere","leo joseph","nike"] %>

<% all_women_brands_array = ["esther boutique", "mura boutique", "samantha wills","alice mccall", "auguste", "lorna jane", "seafolly", "sunday somewhere", "tony bianco", "topshop", "victoria's secret", "senso", "showpo","jo mercer", "princess polly"] %>

<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>


<% if @item.sex == 'Mens' %>
<%= render "/templates/mobile_navigation_sliding_div_mens" %>
  <div class="item_navigation_top_mens">
    <%= render "templates/item_navigation_mens" %>
    <%= render "templates/navigation_mobile_mens" %>
  </div>
  <%= render "/templates/mobile_navigation_sliding_div_mens" %>
  <div class="mens-main-menu-side">
    <%= render "templates/side_navigation_mens" %>
  </div>
  <div class="item_navigation">
    <%= render "templates/item_navigation_mens_subcat" %>
  </div>
<% elsif @item.sex == 'Womens' %>
<%= render "/templates/mobile_navigation_sliding_div_women" %>
  <div class="item_navigation_top_mens">
    <%= render "templates/item_navigation_womens" %>
    <%= render "templates/navigation_mobile_womens" %>
  </div>
  <div class="mens-main-menu-side">
    <%= render "templates/side_navigation_womens" %>
  </div>
  <div class="item_navigation">
    <%= render "templates/item_navigation_womens_subcat" %>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="show-box">
      <div class="image-show-box">
      <a id="close-cross" href="<%= @back_url %>"><span></span></a>
        <%= image_tag @item.item_image.url(:original) %>
      </div>
      <div class="description-show-box">
        <h3><em><%= @item.short_description %></em></h3>
        <% if all_men_brands_array.include?(@item.brand) && @item.sex == "Mens" %>
          <p><a href="<%= link_to_brand_page(@item.brand, @item.sex) %> "><em><%= word_branding(@item.brand) %></em></a></p>
        <% elsif all_women_brands_array.include?(@item.brand) && @item.sex == "Womens" %>
          <p><a href="<%= link_to_brand_page(@item.brand, @item.sex) %> "><em><%= word_branding(@item.brand) %></em></a></p>
        <% else %>
          <p><em><%= word_branding(@item.brand) %></em></p>
        <% end %>
        <% if @item.sale == true %>
          <h3><strike><em>US $<%= zeros(@item.price) %></em></strike>&nbsp&nbsp<em>US $<%= zeros(@item.sale_price) %></em></h3>
          <p><em><%= percentage(@item.price, @item.sale_price) %>% off!</em></p>
        <% else %>
          <h3><em>US $<%= zeros(@item.price) %></em></h3>
        <% end %>
        <p><%= @item.description %></p>
        <p><em>Ships worldwide from <%= @item.shipped_from %></em></p>
        <% if @item.wwshipping == true %>
          <p>Free Worldwide Shipping</p>
        <% end %>
        <div class="show-button">
          <a href="<%= @item.unique_affiliate_url %>" target="_blank">
            <img src="/assets/shop now.png">
          </a>
          <a class="arrowed-desktop" title="Back" href="<%= @back_url %>"><div class="arrow-1-desktop"></div></a>
        </div>
        <% if current_admin %>
          <div class="admin-delete-edit">
            <%= link_to 'Edit', edit_admin_path(@item), class: "btn btn-info" %>
            <%= link_to 'Delete', admin_path(@item, :from=>"show-page"), method: :delete, class: "btn btn-danger" %><br>
            <% if @item.staff_picks == true %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @item.id %>" class="staff-<%= @item.staff_picks %> btn btn-success">Currently IS Staff Picked<br>(click to change)</a>
              </div>
            <% elsif @item.staff_picks == false || @item.staff_picks == nil %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @item.id %>" class="staff-<%= @item.staff_picks %> btn btn-danger">Currently NOT Staff Picked<br>(click to change)</a>
              </div>
            <% end %>
            <% if @item.featured_item == true %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @item.id %>" class="feature-<%= @item.featured_item %> btn btn-success">Currently IS Feature Picked<br>(click to change)</a>
              </div>
            <% elsif @item.featured_item == false || @item.featured_item == nil %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @item.id %>" class="feature-<%= @item.featured_item %> btn btn-danger">Currently NOT Feature Picked<br>(click to change)</a>
              </div>
              <br>
            <% end %>
        <% end %>
      </div>
      <a class="arrowed" title="Back" href="<%= @back_url %>"><div class="arrow-1"></div></a>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>