<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/item_navigation_mens" %>
<div class="accessories_hero_mens"></div>
<div class="desktop-categories"><h1>Accessories</h1></div>

<div class="categorise desktop-sort">
  <%= render "templates/mens/sub_categories_sort/accessories" %>
</div>

<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Accessories</h1>
    <div class="item_sub_cat mobile-sort">
      <%= render "templates/mens/mobile_sub_categories_sort/accessories" %>
    </div>
    <%= render "templates/all_items_display"  %>

  </div>
</div>
<%= render 'templates/mail_chimp_form_mens' %>
