<% all_men_brands_array = ["i love ugly", "just another fisherman", "mvmt", "moreporks", "new balance", "retromarine", "sunday somewhere","leo joseph","nike", "the modest vintage player", "windsor smith", "adidas", "mj bale"] %>

<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="hide-banner-mobile">
  <div class="all_hero_mens"></div>
</div>
<div class="desktop-categories"><h1>All Men's</h1></div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">All Men's</h1>
    <div id="products">
      <%= render "templates/all_items_display"  %>
    </div>
  </div>
</div>

<%= render "templates/image_loader" %>
<%= render 'templates/footer/footer' %>