<div class="search_bar">
    <%= render "templates/men_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>
<div class="menu-side">
  <div class="margin_menu_side"></div>
  <%= render "templates/side_navigation_womens" %>
</div>
<div class="container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div><br>
    <h1 class="your-items">Mens Brands</h1>
    <div class="item_sub_cat" style="visibility: hidden;">
      <%= render "templates/access_sub_cat_mens" %>
    </div>

    <a href="/men_brand/bjorn_borg">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/bjornborg_brand.jpg" border="0" style="height: 30px;" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/daniel_wellington">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/dan_wellington_brand.jpg" border="0" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/just_another_fisherman">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/just_another_fisherman.jpg" border="0" style="height: 140px;" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/morepork">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/moreporks_brand.jpg" border="0" style="height: 160px;" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/mvmt">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/MVMT_brands_page.jpg" border="0" style="height: 100px;" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/nautica">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/NAUTICALogo.jpg" border="0" style="height: 100px;" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/retro_marine">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/retromarine.jpg" border="0" style="height: 120px;" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/sunday_somewhere">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/brand_ss.png" border="0" style="height: 90px;" alt="">
        </div>
      </div>
    </a>

    <a href="/men_brand/timberland">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/Timberland.png" border="0" style="height: 150px;" alt="">
        </div>
      </div>
    </a>

  </div>
</div>

<%= render 'templates/mail_chimp_form_mens' %>


