<div class="search_bar">
    <%= render "templates/men_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>
<div class="menu-side">
  <div class="margin_menu_side"></div>
  <%= render "templates/side_navigation_mens" %>
</div>
<div class="container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div><br>
    <h1 class="your-items">Brands</h1>
    <div class="item_sub_cat" style="visibility: hidden;">
      <%= render "templates/access_sub_cat_mens" %>
    </div>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/sea_folly_brand.jpg" border="0" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/top_shop_brand.png" border="0" style="height: 70px;" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/vic_brand.png" border="0" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/lorna_brand.jpg" border="0" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/brand_ss.png" border="0" style="height: 90px;" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/auguste_brand.jpg" border="0" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/alice_mccall_brand.jpg" border="0" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/dan_wellington_brand.jpg" border="0" alt=""></a>
          </div>
        </div>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div brands_image_div">
            <a href="/mens_brands/mvmt"><img src="/assets/forever_brand.jpg" border="0" alt=""></a>
          </div>
        </div>
      </div>
  </div>
</div>

<%= render 'templates/mail_chimp_form_mens' %>


