<div class="container">
  <div class="row">
    <h1 class="your-items">Formal</h1>
    <%= render "templates/side_navigation_mens" %>
    <div class="col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
      <% @formal.each do |formal_items| %>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div">
            <a href="/item/<%= formal_items.id %>">
              <%= image_tag formal_items.item_image.url(:medium) %>
            <div class="description_content">
              <% if formal_items.sale == true %>
              <table>
                <tr class="specials_table">
                  <td><strike><em>$<%= zeros(formal_items.sale_price) %></em></strike></td>
                  <td>$<%= zeros(formal_items.price) %></td>
                </tr>
              </table>
              <% else %>
              <table>
                <tr class="normal_table">
                  <td>$<%= zeros(formal_items.price) %></td>
                </tr>
              </table>
              <% end %>
              <p><%= formal_items.short_description %></p>
            </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>