<div class="item_navigation_top_mens">
  <%= render "templates/item_navigation_mens" %>
</div>


<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="mens_main_photo">
    </div>
  </div>
</div>


<h1 class="your-items">Mens Sale</h1>
<div class="mens-main-menu-side">
  <%= render "templates/side_navigation_mens" %>
</div>
<div class="container">
  <div class="row">
    <%= render "templates/on_sale_nine" %>
    <h1 class="your-items">Mens Featured</h1>
    <%= render "templates/featured_mens" %>
  </div>
</div>






<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-3"></div>
    <%= render "templates/all_mens" %>
  </div>
</div>
