<div class="search_bar">
  <%= render "templates/men_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>

<div class="item_navigation_top_mens">
  <%= render "templates/item_navigation_mens" %>
</div>

<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="mens_main_photo">
    </div>
  </div>
</div>


<div class="mens-main-menu-side">
  <%= render "templates/side_navigation_mens" %>
</div>
<div class="container">
  <div class="row">
    <% if @featured_men.length >= 1 %>
    <div class="sale_feat_h1">
      <h1 class="your-items">Featured Men's</h1>
    </div>
      <%= render "templates/featured_mens" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if @staff_picked_men.length >= 1 %>
    <div class="sale_feat_h1">
      <h1 class="your-items">Staff Picks</h1>
    </div>
      <%= render "templates/staff_picked_mens" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="sale_feat_h1">
      <h1 class="your-items">Featured Sale</h1>
    </div>
    <%= render "templates/on_sale_nine" %>
  </div>
</div>
<%= render 'templates/mail_chimp_form_mens' %>