<div class="container">
  <div class="row">
    <%= render "templates/side_navigation_mens" %>
    <div class="col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
      <% @long.each do |long_items| %>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div">
            <a href="/item/<%= long_items.id %>">
              <%= image_tag long_items.item_image.url(:medium) %>
            <div class="description_content">
              <% if long_items.sale == true %>
              <table>
                <tr class="specials_table">
                  <td><strike><em>$<%= long_items.sale_price %></em></strike></td>
                  <td>$<%= long_items.price %></td>
                </tr>
              </table>
              <% else %>
              <table>
                <tr class="normal_table">
                  <td>$<%= long_items.price %></td>
                </tr>
              </table>
              <% end %>
              <p><%= long_items.short_description %></p>
            </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>