<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>
<div class="logo-image">
  <img src="../assets/BEEEE.jpg" alt="" class="image_bee">
  <h2>MENS</h2>
</div>
<div class="menu-side">
  <%= render "templates/side_navigation_mens" %>
</div>
<div class="container">
  <div class="row">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div>
    <h1 class="your-items">Longs</h1>
      <% @long.each do |long_items| %>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div">
            <a href="/item/<%= long_items.id %>">
              <%= image_tag long_items.item_image.url(:medium) %>
            <div class="description_content">
              <% if long_items.sale == true %>
              <table>
                <tr class="specials_table">
                  <td><strike><em>$<%= zeros(long_items.sale_price) %></em></strike></td>
                  <td>$<%= zeros(long_items.price) %></td>
                </tr>
              </table>
              <% else %>
              <table>
                <tr class="normal_table">
                  <td>$<%= zeros(long_items.price) %></td>
                </tr>
              </table>
              <% end %>
              <p><%= long_items.short_description %></p>
            </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>