<div class="container">
  <div class="row">
    <%= render "templates/side_navigation_mens" %>
    <div class="col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
      <% @long.each do |long_items| %>
        <a href="/item/<%= long_items.id %>">
          <div class="box col-md-4 col-sm-6 col-xs-12" style="padding: 0px;">
            <div class="div_specials">
              <table style="width: 100%;">
                <% if long_items.sale == false %>
                <tr class="normal_table">
                  <td style="width: 150px;">&nbsp</td>
                  <td style="width: 150px;">&nbsp</td>
                  <td><em>$<%= zeros(long_items.price) %><em></td>
                </tr>
              </table>
              <% else %>
                <table style="width: 100%;">
                  <tr class="specials_table">
                    <td><em><%= percentage(long_items.price, long_items.sale_price) %>% off!</em></td>
                    <td><strike><em>$<%= zeros(long_items.price) %></em></strike></td>
                    <td>$<%= zeros(long_items.price) %></td>
                  </tr>
                </table>
              <% end %>
            </div>
            <span class="helper"></span>
            <%= image_tag long_items.item_image.url(:medium), class: "box-image;"%>
            <div class="description_item">
              <div class="description_content">
                <%= "short headline here 25 characters max" %>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>