<h1>Shoe</h1>
<%= render "templates/side_navigation_mens" %>

<div class="col-md-10 col-sm-10 col-xs-10">
  <% @shoe.each do |item| %>
    <div class="box" style="float: left; margin-right: 100px;">
      <%= image_tag item.item_image.url(:medium), style: "width:200px; height:200px;" %>
      <p><%= item.sex %></p>
      <p><%= item.brand %></p>
      <p><%= item.description %></p>
    </div>
  <% end %>
</div>