<h1>Shorts and swimwear</h1>
<%= render "templates/side_navigation_mens" %>
<div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
  <% @short_swimwear.each do |short_items| %>
    <div class="box col-md-4 col-sm-6 col-xs-12" style="padding: 0px;">
      <div class="div_specials">
        <table style="width: 100%;">
          <% if short_items.sale == false %>
          <tr class="normal_table">
            <td style="width: 150px;">&nbsp</td>
            <td style="width: 150px;">&nbsp</td>
            <td><em>$<%= short_items.price %>0</em></td>
          </tr>
        </table>
        <% else %>
          <table style="width: 100%;">
            <tr class="specials_table">
              <td><em>25% off</em></td>
              <td><strike><em>$<%= short_items.price %>0</em></strike></td>
              <td>$<%= short_items.sale_price %>0</td>
            </tr>
          </table>
        <% end %>
      </div>
      <span class="helper"></span>
      <%= image_tag short_items.item_image.url(:medium), class: "box-image;"%>
      <div class="description_item">
        <div class="description_content">
          <%= "short headline here 25 characters max" %>
        </div>
      </div>
    </div>
  <% end %>
</div>