<div class="menu-side">
  <%= render "templates/side_navigation_mens" %>
</div>
<div class="container">
  <div class="row">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div>
    <h1 class="your-items">Shorts & Swimwear</h1>
      <% @short_swimwear.each do |short_items| %>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div">
            <a href="/item/<%= short_items.id %>">
              <%= image_tag short_items.item_image.url(:medium) %>
            <div class="description_content">
              <% if short_items.sale == true %>
              <table>
                <tr class="specials_table">
                  <td><strike><em>$<%= zeros(short_items.sale_price) %></em></strike></td>
                  <td>$<%= zeros(short_items.price) %></td>
                </tr>
              </table>
              <% else %>
              <table>
                <tr class="normal_table">
                  <td>$<%= zeros(short_items.price) %></td>
                </tr>
              </table>
              <% end %>
              <p><%= short_items.short_description %></p>
            </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>