<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="hide-banner-mobile">
  <div class="accessories_hero_mens"></div>
</div>
<div class="desktop-categories"><h1>Accessories</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/mens/sub_categories_sort/accessories" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Accessories</h1>
    <%= render "templates/mens/categorise_media_query/media_query_categories" %>
    <%= render "templates/mens/index_page/featured" %>
    <div class="item_sub_cat"></div>
    <div id="products">
      <%= render "templates/all_items_display"  %>
    </div>
  </div>
</div>
<%= render "templates/image_loader" %>
<%= render "templates/footer/footer" %>