<%= form_for @shop_the_look_image, html: {multipart: true, class: "shop_look_item_form" } do |f| %>
  <div class="new_look_item">
    <div class="col-md-12">
      <div class="col-md-2">
        <span>Image</span>
        <%= f.file_field :shop_look_image, {required: 'true'} %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2">
      <span>Sex</span>
      <% gender_array = [['Mens'],["Womens"]] %>
      <%= f.select "gender", options_for_select(gender_array, @shop_the_look_image.gender), {}, {required: 'true', autofocus: 'true', class: 'form-control input-sm gender-look'} %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2">
      <span>Ships Worldwide From</span>
      <% ships_from = [['U.S.A'],["Canada"],["UK / Europe"],["Asia"],["NZ / AUS"]] %>
      <%= f.select "ww_shipping", options_for_select(ships_from, @shop_the_look_image.ww_shipping), {}, {required: 'true', autofocus: 'true', class: 'form-control input-sm new-item-look-shipping'} %>
    </div>
  </div>
  <div class="col-md-12">
    <%= f.fields_for :shop_the_look_items do |task| %>
      <%= render 'shop_the_look_item_fields', :f => task %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add item', f, :shop_the_look_items %>
    </div>
  </div>
  <div class="col-md-12">
    <%= f.button :submit, class: "btn btn-default btn-lg accept-button" %>
  </div>
<% end %>