<%= form_for @shop_the_look_image, html: {multipart: true, class: "shop_look_item_form" } do |f| %>

  <div class="new_look_item">
    <div class="col-md-12">
      <div class="col-md-2">
        <span>Image (640 x 640 pixels only)</span>
        <% if request.path === "/shop_the_look_images/" + @shop_the_look_image.id.to_s + "/edit" %>
          <%= image_tag @shop_the_look_image.shop_look_image.url(:thumb) %>
          <%= f.file_field :shop_look_image %>
        <% else %>
          <%= f.file_field :shop_look_image, required: 'true', class: "error error-handling-js" %>
        <% end %>
      </div>

    <div class="col-md-2">
      <span>Sex</span>
      <% gender_array = [['Mens'],["Womens"]] %>
      <%= f.select "gender", options_for_select(gender_array, @shop_the_look_image.gender), {}, {required: 'true', autofocus: 'true', class: 'form-control input-sm gender-look'} %>
    </div>

    <div class="col-md-2">
      <span>Describe the Look</span>
      <% describe_options = [] %>
      <%= f.select "describe_the_look", options_for_select(describe_options, @shop_the_look_image.describe_the_look), {}, {required: 'true', autofocus: 'true', class: 'form-control input-sm new-item-look-shipping'} %>
    </div>
    <% if current_admin %>
      <div class="col-md-2"><br>
        <span>Featured Item</span><br>
        <%= f.label :featured_item %>
        <%= f.label :featured_item, "Yes", :value => "true"  %>
        <%= f.radio_button :featured_item, true %><br />
        <%= f.label :featured_item %>
        <%= f.label :featured_item, "NO", :value => "false"  %>
        <%= f.radio_button :featured_item, false %>
      </div>
      <div class="col-md-2"><br>
        <span>Staff Picked Item</span><br>
        <%= f.label :staff_picks %>
        <%= f.label :staff_picks, "Yes", :value => "true"  %>
        <%= f.radio_button :staff_picks, true %><br />
        <%= f.label :staff_picks %>
        <%= f.label :staff_picks, "NO", :value => "false"  %>
        <%= f.radio_button :staff_picks, false %>
      </div>
    <% end %>
  </div>

  <div class="col-md-12">
    <div id="form-for-shop-look">
      <%= f.fields_for :shop_the_look_items do |task| %>
        <%= render 'shop_the_look_item_fields', :f => task %>
      <% end %>
      <div class='col-md-2 links'>
        <%= link_to_add_association 'add item', f, :shop_the_look_items %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-2">
      <%= f.button :submit, class: "btn btn-default btn-lg accept-button" %>
    </div>
  </div>

<% end %>