<div class="nested-fields">
  <div class="shop-the-look-items-wrapper">
    <div class="col-md-4 stl-form-wrapper">

        <%= link_to_remove_association("- Item", f, { wrapper_class: 'shop-the-look-items-wrapper' }) %><br>


        <span>Description</span>
        <%= f.text_field :description, required: 'true', class: 'form-control item-shop-the-look' %>

        <% categorys = f.object.attributes["category"] %>
        <% sub_categorys = f.object.attributes["sub_category"] %>
        <% sale = f.object.attributes["sale"] %>

        <span>Category</span>
        <%= f.select "category", options_for_select([categorys]), {}, { autofocus: 'true', class: 'form-control input-sm cat-look' } %>

        <span>Sub-Category</span>
        <%= f.select "sub_category", options_for_select([sub_categorys]), {}, { autofocus: 'true', class: 'form-control input-sm sub-cat-look' } %>


        <span>Brand</span>
        <%= f.text_field :brand, required: 'true', class: 'form-control' %>

        <span>Recommended Retail Price ($AUD)</span>
        <label class="sr-only" for="exampleInputAmount">Sell Price ($AUD)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field "price", :step => 'any', class: 'form-control fashion-item-price',  placeholder: "Amount", required: 'true' %>
        </div>

        <div class="stl-on-sale">
          <span>On Sale?</span>
            <%= f.select "sale", options_for_select([['Yes', true], ['No', false]], selected: sale), {}, { autofocus: 'true', required: 'true', class: 'form-control input-sm shop-look-sale'} %>
        </div>

        <div class="stl-on-sale-price">
          <span>Sale Price ($AUD)</span>
          <label class="sr-only" for="exampleInputAmount">Sell Price ($AUD)</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <%= f.number_field "sale_price", :step => 'any', required: 'true',class: 'form-control fashion-item-price',  placeholder: "Amount" %>
          </div>
        </div>

        <span>Product URL</span>
        <%= f.text_field :unique_affiliate_url, required: 'true', class: 'form-control',  type: 'url', placeholder: "eg. https://www.instaboss/product.co" %>
        <br>
        <br>

    </div>
  </div>
</div>