<div class="nested-fields">
  <div class="shop-the-look-items-wrapper">
    <div class="col-md-4">

        <%= link_to_remove_association("- Item", f, { wrapper_class: 'shop-the-look-items-wrapper' }) %>

        <span>Description</span>
        <%= f.text_field :description, class: 'form-control item-shop-the-look' %>

        <span>Category</span>
        <%= f.select "category", options_for_select(""), {}, { autofocus: 'true', class: 'form-control input-sm cat-look' } %>

        <span>Sub-Category</span>
        <%= f.select "sub_category", options_for_select(""), {}, { autofocus: 'true', class: 'form-control input-sm sub-cat-look' } %>

        <span>Brand</span>
        <%= f.text_field :brand, class: 'form-control' %>

        <span>Recommended Retail Price ($AUD)</span>
        <label class="sr-only" for="exampleInputAmount">Sell Price ($AUD)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field "price", :step => 'any', class: 'form-control fashion-item-price',  placeholder: "Amount" %>
        </div>

        <span>On Sale?</span>
         <% sale_array = [["", false],["Yes", true],["No", false]] %>
         <%= f.select "sale", options_for_select(sale_array), {}, { autofocus: 'true', class: 'form-control input-sm shop-look-sale'} %>

        <span>Sale Price ($AUD)</span>
        <label class="sr-only" for="exampleInputAmount">Sell Price ($AUD)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field "sale_price", :step => 'any', class: 'form-control fashion-item-price',  placeholder: "Amount" %>
        </div>

        <span>Product URL</span>
        <%= f.text_field :unique_affiliate_url, class: 'form-control',  type: 'url', :placeholder "eg. https://www.instaboss/product.co" %>

    </div>
  </div>
</div>