<%= render "templates/navigation" %>
<div class="container">
  <div class="row">
    <p><em><%= link_to "Just one item?", new_item_path %></em></p>

    <%= form_for :shop_the_look_image, url: {action: "create"}, html: {multipart: true} do |f| %>
      <div class="new_fashion_item">
        <div class="col-md-12">
          <span>Image</span>
          <%= f.file_field :shop_look_image %>
        </div>
      </div>

      <% item_count = 0 %>
      <% for item in @image_item.shop_the_look_items %>
        <div class="col-md-4">
          <% item_count +=1 %>

          <%= fields_for "shop_items[]", item do |shop_item| %>
            <h1>Item <%= item_count %></h1>
            <p>brand</p> <%= shop_item.text_field :brand %>
            <p>gender</p> <%= shop_item.text_field :gender %>

          <% end %>
        </div>
      <% end %>


      <div class="col-md-12">
        <%= submit_tag "create" %>
      </div>
    <% end %>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

