<%= render "templates/navigation" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= form_for @image_item, url: {action: "create"}, html: {multipart: true, class: "shop_look_item_form" } do |f| %>
      <div class="new_look_item">
        <div class="col-md-12">
          <div class="col-md-2">
            <span>Image</span>
            <%= f.file_field :shop_look_image, {required: 'true'} %>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-2">
          <span>Sex</span>
          <% gender_array = [['Mens'],["Womens"]] %>
          <%= f.select "gender", options_for_select(gender_array, 'Mens'), {}, {required: 'true', autofocus: 'true', class: 'form-control input-sm gender-look'} %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-2">
          <span>Ships Worldwide From</span>
          <% ships_from = [['U.S.A'],["Canada"],["UK / Europe"],["Asia"],["NZ / AUS"]] %>
          <%= f.select "ww_shipping", options_for_select(ships_from, "U.S.A"), {}, {required: 'true', autofocus: 'true', class: 'form-control input-sm new-item-look-shipping'} %>
        </div>
      </div>

      <div class="col-md-12">
        <div id="form-for-shop-look">
        <%= link_to_add_association '+ Item', f, :shop_the_look_items, class: "add-button-link" %>
          <%= f.fields_for :shop_the_look_items do |shop_item| %>
            <%= render "item", f: shop_item %>
          <% end %>
        </div>
      </div>

      <div class="col-md-12">
        <%= submit_tag "Create", class: "btn btn-default btn-lg accept-button" %>
      </div>

    <% end %>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br>

