<% all_men_brands_array = ["i love ugly", "just another fisherman", "mvmt", "moreporks", "new balance", "retromarine", "sunday somewhere","leo joseph","nike", "the modest vintage player", "bronze snake", "windsor smith", "mj bale", "adidas originals"] %>

<% all_women_brands_array = ["esther boutique", "mura boutique", "samantha wills","alice mccall", "auguste", "lorna jane", "seafolly", "sunday somewhere", "tony bianco", "senso", "showpo","jo mercer", "princess polly", "new balance", "bronze snake", "cooper st"] %>


<% if @shop_the_look_image.gender == 'Mens' %>
<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<% elsif @shop_the_look_image.gender == 'Womens' %>
<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<% end %>

<div class="container mobile_container_show">
  <div class="row">
    <div class="show-box">
      <div class="image-show-box">
        <%= image_tag @shop_the_look_image.shop_look_image.url(:original) %>
      </div>
      <div class="description-shop-the-look-show-box scrollable-box">
        <% @shop_the_look_image.shop_the_look_items.each do |shop_the_look_items| %>
          <h3 class="shop-the-look-description"><em><%= shop_the_look_items.description %></em></h3>
          <% if all_men_brands_array.include?(shop_the_look_items.brand) && @shop_the_look_image.gender == "Mens" %>
            <p><a href="<%= link_to_brand_page(shop_the_look_items.brand, @shop_the_look_image.gender) %> "><em><%= word_branding(shop_the_look_items.brand) %></em></a></p>
          <% elsif all_women_brands_array.include?(shop_the_look_items.brand) && @shop_the_look_image.gender == "Womens" %>
            <p><a href="<%= link_to_brand_page(shop_the_look_items.brand, @shop_the_look_image.gender) %>"><em><%= word_branding(shop_the_look_items.brand) %></em></a></p>
          <% else %>
            <p><em><%= word_branding(shop_the_look_items.brand) %></em></p>
          <% end %>

          <% if shop_the_look_items.sale == true %>
            <p class="shop-the-look-price"><em><strike>AUD $<%= zeros(shop_the_look_items.price) %></strike></em></p>
            <p class="shop-the-look-price"><em>AUD $<%= zeros(shop_the_look_items.sale_price) %></em></p>
          <% else %>
            <p class="shop-the-look-price"><em>AUD $<%= zeros(shop_the_look_items.price) %></em></p>
          <% end %>

          <div class="show-button-shop-look">
            <a href="<%= shop_the_look_items.unique_affiliate_url %>" target="_blank">
              <img src="/assets/shop now.png">
            </a>
          </div>
        <% end %>
          <%= social_share_button_tag(@shop_the_look_image.describe_the_look, :url => "http://www.instaboss.co/shop_the_look_images/" + @shop_the_look_image.id.to_s) %>
        <a class="arrowed" title="Back" href="<%= @back_url %>"><div class="arrow-1 shop-look-arrow"></div></a>
        <% if current_admin %>
          <div class="admin-delete-edit">
            <% if @shop_the_look_image.staff_picks == true %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @shop_the_look_image.id %>" class="staff-shop-<%= @shop_the_look_image.staff_picks %> btn btn-success">Currently IS Staff Picked<br>(click to change)</a>
              </div>
            <% elsif @shop_the_look_image.staff_picks == false || @shop_the_look_image.staff_picks == nil %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @shop_the_look_image.id %>" class="staff-shop <%= @shop_the_look_image.staff_picks %> btn btn-danger">Currently NOT Staff Picked<br>(click to change)</a>
              </div>
            <% end %>

            <% if @shop_the_look_image.featured_item == true %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @shop_the_look_image.id %>" class="feature-shop-<%= @shop_the_look_image.featured_item %> btn btn-success">Currently IS Feature Picked<br>(click to change)</a>
              </div>
            <% elsif @shop_the_look_image.featured_item == false || @shop_the_look_image.featured_item == nil %>
              <br>
              <div class="button_staff_path">
                <a href="#" method="post" id="<%= @shop_the_look_image.id %>" class="feature-shop <%= @shop_the_look_image.featured_item %> btn btn-danger">Currently NOT Feature Picked<br>(click to change)</a>
              </div>
              <br>
            <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items-main">More You Might Like...</h1><br>
      <%= render "templates/all_items_display" %>
  </div>
</div>
<% if @shop_the_look_image.gender == 'Mens' %>
  <%= render "templates/footer/footer" %>
<% elsif @shop_the_look_image.gender == 'Womens' %>
  <%= render "templates/footer/footer_women" %>
<% end %>
