<div id="media-query-filter-filler"></div>
<div id="media-query-filter">
  <div class="media-query-header">
    <h4>Filter By</h4>
  </div>
  <div class="query-on-click">
    <ul>
      <li><%= link_to "All", men_accessory_path %></li>
      <li><%= link_to "Hats", men_accessory_hat_path %></li>
      <li><%= link_to "Bags", men_accessory_bag_path %></li>
      <li><%= link_to "Jewellery", men_accessory_jewellery_path %></li>
      <li><%= link_to "Other", men_accessory_other_path %></li>
    </ul>
  </div>
</div>