<div class="container">
  <div class="row">
    <div class="navigation">
    <% if current_page?(root_path) %>
        <div class="logo-image home-page">
      <% else %>
        <a id="nav-toggle" href="#"><span></span></a>
        <div class="logo-image">
      <% end %>
      <a href="/">
        <img src="/assets/new_bee.jpg" alt="" class="image_bee">
      </a>
        </div>
      <% if current_page?(root_path) %>
      <h1>InstaBoss</h1>
      <% else %>
      <h1><%= link_to "InstaBoss", root_path %></h1>
      <% end %>
      <ul>
        <li><%= link_to "Admin Page", admin_index_path, class: "client-login" %></li>
        <li><%= link_to "Sign Out", destroy_admin_session_path, :method => :delete, class: "client-login" %></li>
        <li><%= link_to "MENS", men_path %></li>
        <li><%= link_to "WOMENS", women_path %></li>
      </ul>
      <hr style="height:1px; border:none; color:#333; background-color:#333;margin-top:30px;" />
    </div>
  </div>
</div>