<div class="container">
  <div class="row" style="margin-left: 0px;">
  <h1 class="your-items-all">Mens</h1>
  <% @mens.each do |men_items| %>
    <div class="box col-md-4 col-sm-6 col-xs-12">
      <div class="image_div">
        <a href="/item/<%= men_items.id %>">
          <%= image_tag men_items.item_image.url(:medium) %>
        <div class="description_content">
          <% if men_items.sale == true %>
          <table>
            <tr class="specials_table">
              <td><strike><em>$<%= zeros(men_items.price) %></em></strike></td>
              <td>$<%= zeros(men_items.sale_price) %></td>
            </tr>
          </table>
          <% else %>
          <table>
            <tr class="normal_table">
              <td>$<%= zeros(men_items.price) %></td>
            </tr>
          </table>
          <% end %>
          <p><%= men_items.short_description %></p>
          <p><%= word_branding(men_items.brand) %></p>
        </div>
        </a>
      </div>
    </div>
  <% end %>
  </div>
</div>