<div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
  <h1>Womens</h1>
  <% @womens.each do |womens_items| %>
    <div class="box col-md-4 col-sm-6 col-xs-12">
      <div class="image_div">
        <a href="/item/<%= womens_items.id %>">
          <%= image_tag womens_items.item_image.url(:medium) %>
        <div class="description_content">
          <% if womens_items.sale == true %>
          <table>
            <tr class="specials_table">
              <td><strike><em>$<%= womens_items.sale_price %></em></strike></td>
              <td>$<%= womens_items.price %></td>
            </tr>
          </table>
          <% else %>
          <table>
            <tr class="normal_table">
              <td>$<%= womens_items.price %></td>
            </tr>
          </table>
          <% end %>
          <p><%= "short headline here 25 characters max" %></p>
        </div>
        </a>
      </div>
    </div>
  <% end %>
</div>