<%= render "templates/horizontal_line" %>
<div class="container">
  <div class="row" style="margin-left: -15px;">
  <% @featured_men.each do |feature| %>
    <div class="box col-md-4 col-sm-6 col-xs-12">

      <div class="image_div">
        <a href="/item/<%= feature.id %>">
          <%= image_tag feature.item_image.url(:medium) %>
        <div class="description_content">
          <% if feature.sale == true %>
          <table>
            <tr class="specials_table">
              <td><strike><em>$<%= zeros(feature.price) %></em></strike></td>
              <td>$<%= zeros(feature.sale_price) %></td>
            </tr>
          </table>
          <% else %>
          <table>
            <tr class="normal_table">
              <td>$<%= zeros(feature.price) %></td>
            </tr>
          </table>
        <% end %>
        <p><%= feature.short_description %></p>
        <p><%= word_branding(feature.brand) %></p>
        </div>
        </a>
      </div>
    </div>
  <% end %>
  </div>
</div>