<% womens_categories = {'All': '/women/all', 'Accessories': '/women/accessorie', 'Dresses': '/women/dress','Jeans Trousers & Leggings': '/women/jean_legging' , 'Home & Lifestyle': '/women/lifestyle', 'Shoes': '/women/shoe' , 'Shorts & Skirts': '/women/short_skirt', 'Sunglasses & Watches': '/women/sunglass_watch' , 'Swim & Beachwear': '/women/swim_beachwear', 'Tops': '/women/top' }; %>

<% womens_brands = {'Alice McCall': '/women_brand/alice_mccall' , 'Auguste': '/women_brand/auguste', 'Esther Boutique': '/women_brand/esther', 'Lorna Jane': '/women_brand/lorna_jane', 'Mura Boutique': '/women_brand/mura', 'Samantha Wills': '/women_brand/samantha_wills', 'Seafolly': '/women_brand/sea_folly', 'Senso': '/women_brand/senso', 'Showpo': '/women_brand/showpo', 'Sunday Somewhere': '/women_brand/sunday_somewhere', 'Tony Bianco': '/women_brand/tony_bianco', 'Topshop': '/women_brand/top_shop', "Victoria's Secret": '/women_brand/victorias_secret'} %>

<div class="container">
  <div class="row">
    <div class="womens_top">
      <%= link_to "HOME", women_path %>
      <%= link_to "ABOUT", women_about_path %>
      <div class="item_nav_top">
        <%= link_to "SHOP BY",  class: "shop_by" %>
        <div class="item_drop_shop_by" id="my_drop_down">
          <% womens_categories.each do |keys, values| %>
            <%= link_to keys, values %>
          <% end %>
        </div>
      </div>
      <%= link_to "ON SALE", site_sale_womens_path %>
      <div class="item_nav_top_brand">
        <%= link_to "BRANDS", women_brand_path, class: "shop_by_brand" %>
        <div class="item_drop_shop_by_brand" id="my_drop_down_brand">
          <% womens_brands.each do |keys, values| %>
            <%= link_to keys, values %>
          <% end %>
          <!-- <%= link_to "Search all brands", women_brand_path %> -->
        </div>
      </div>
        <%= link_to "CONTACT", women_contact_path %>
        <div class="instagram_logo">
          <a href="https://www.instagram.com/instaboss.co/" target="_blank">
            <img src="../assets/instagram_black.jpg" alt="insta">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
