<% mens_categories = {'Accessories': '/men/accessorie', 'Formal': '/men/formal', 'Lifestyle': '/men/lifestyle', 'Longs': '/men/long' , 'Shoes': '/men/shoe' , 'Shorts & Swimwear': '/men/short_swimwear', 'Sunglasses & Watches': '/men/sunglass_watch' , 'Tops': '/men/top' }; %>


<div class="container">
  <div class="row">
    <div class="nav-cat-div">
      <ul class="item_nav">
        <li><%= link_to "HOME", root_path%></li>
        <li><%= link_to "ABOUT", site_about_path %></li>
        <li class="refine"><%= link_to "SHOP BY" %></li>
        <li><%= link_to "ON SALE", site_sale_mens_path %><li>
        <li><%= link_to "CONTACT", site_contact_path %></li>
        <ul class="nav-cat-ul">
          <% mens_categories.each do |keys, values| %>
          <li><%= link_to keys, values %></li>
        <% end %>
        </ul>
      </ul>
    </div>
  </div>
</div>