  <% womens_categories = {'All': '/women/all', 'Accessories': '/women/accessorie', 'Dresses': '/women/dress','Jeans Trousers & Leggings': '/women/jean_legging' , 'Home & Lifestyle': '/women/lifestyle', 'Shoes': '/women/shoe' , 'Shorts & Skirts': '/women/short_skirt', 'Sunglasses & Watches': '/women/sunglass_watch' , 'Swim & Beachwear': '/women/swim_beachwear', 'Tops': '/women/top' }; %>


<div class="hamburger-slider">
  <div class="container">
    <div class="row">
      <ul>
        <li><b>Shop by</b></li>
        <% womens_categories.each do |keys, values| %>
          <li><%= link_to keys, values %></li>
        <% end %>
        <div class="bottom_list_tags">
          <li><%= link_to "ALL BRANDS", women_brand_path %></li>
          <li><%= link_to "ON SALE", site_sale_womens_path %></li>
          <li><%= link_to "SEARCH", women_brand_mobile_women_search_path %></li>
        </div>
        <div class="about_contact_list_tags">
          <li><%= link_to "About", women_about_path%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Contact", women_contact_path %></li>
        </div>
      </ul>
    </div>
  </div>
</div>