<div class="container">
  <div class="row">
    <div class="navigation">
      <% if current_page?(root_path) %>
      <h3>instaBOSS</h3>
      <% else %>
      <h3><%= link_to "instaBOSS", root_path %></h3>
      <% end %>
      <ul>
        <% if current_user %>
          <li><%= link_to "add an item", new_item_path %></li>
          <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "sign in", new_user_session_path %></li>
          <li><%= link_to "register", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<hr>