<div class="container">
  <div class="row">
    <div class="navigation">
      <% if current_page?(root_path) %>
      <h1>InstaBoss</h1>
      <% else %>
      <h1><%= link_to "InstaBoss", root_path %></h1>
      <% end %>
      <ul>
        <% if current_admin %>
          <li><%= link_to "Admin Page", admin_index_path %></li>
          <li><%= link_to "Sign Out", destroy_admin_session_path, :method => :delete %></li>
        <% end %>
        <% if user_signed_in? && current_page?(root_path) %>
          <li><%= link_to "Your Items", item_index_path %></li>
          <li><%= link_to "Add Item", new_item_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% elsif user_signed_in? && !current_page?(root_path) %>
          <li><%= link_to "WOMENS", women_path %></li>
          <li><%= link_to "MENS", men_path %></li>
          <li><%= link_to "Your Items", item_index_path %></li>
          <li><%= link_to "Add Item", new_item_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></
        <% end %>
        <% if !current_page?(root_path) && !user_signed_in? %>
          <li><%= link_to "WOMENS", women_path %></li>
          <li><%= link_to "MENS", men_path %></li>
          <li><%= link_to "ClientLogin", new_user_session_path %></li>
        <% end %>
      </ul>
      <hr>
    </div>
  </div>
</div>