<div class="col-md-1 col-sm-1 col-xs-1"></div>
<div class="col-md-10 col-sm-8 col-xs-8">
  <% @special_three.each do |specials| %>
    <div class="box col-md-4 col-sm-6 col-xs-12">
      <div class="image_div">
        <a href="/item/<%= specials.id %>">
          <%= image_tag specials.item_image.url(:medium) %>
        <div class="description_content">
          <table>
            <tr class="specials_table">
              <td><strike><em>$<%= specials.price %></em></strike></td>
              <td>$<%= specials.price %></td>
            </tr>
          </table>
          <p><%= "short headline here 25 characters max" %></p>
        </div>
        </a>
      </div>
    </div>
  <% end %>
</div>
