<div class="col-md-2 col-sm-2 col-xs-2" class="side-nav-hide-responsive">
  <ul class="no_picture_side_nav_mens_extra_margin main_men_feat" style="top: -80px;">
    <h4 class="shop_by">Shop By</h4>
    <li><%= link_to "All", men_all_path %></li>
    <li><%= link_to "Accessories", men_accessorie_path %></li>
    <li><%= link_to "Formal", men_formal_path %></li>
    <li><%= link_to "Lifestyle", men_lifestyle_path %></li>
    <li><%= link_to "Longs", men_long_path %></li>
    <li><%= link_to "Shoes", men_shoe_path %></li>
    <li><%= link_to "Shorts & Swimwear", men_short_swimwear_path %></li>
    <li><%= link_to "Sunglasses & Watches", men_sunglass_watch_path %></li>
    <li><%= link_to "Tops", men_top_path %></li><br>
    <li><%= link_to "SHOP THE LOOK", men_shop_the_look_path %><li>
    <li><%= link_to "ON SALE", site_sale_mens_path %><li>
    <li><%= link_to "BRANDS", men_brand_path %><li>
  </ul>
</div>