<div class="col-md-2 col-sm-2 col-xs-2">
  <ul class="side_nav_mens">
    <h4>Refine By:</h4>
    <li><%= link_to "Formal", men_formal_path %></li>
    <li><%= link_to "Accessories", men_accessorie_path %></li>
    <li><%= link_to "LifeStyle", men_lifestyle_path %></li>
    <li><%= link_to "Longs", men_long_path %></li>
    <li><%= link_to "Shoes", men_shoe_path %></li>
    <li><%= link_to "Tops", men_top_path %></li>
    <li><%= link_to "Shorts & Swimwear", men_short_swimwear_path %></li>
    <li><%= link_to "Sunglasses & Watches", men_sunglass_watch_path %></li><br><br>
  </ul>
</div>