<div class="col-md-2 col-sm-2 col-xs-2" class="side-nav-hide-responsive">
  <ul class="menu-side-search-bar">
    <h4 class="shop_by">Shop By</h4>
    <li><%= link_to "All", women_all_path %></li>
    <li><%= link_to "Accessories", women_accessorie_path %></li>
    <li><%= link_to "Dresses", women_dress_path %></li>
    <li><%= link_to "Jeans Trousers & Leggings", women_jean_legging_path %></li>
    <li><%= link_to "Home & Lifestyle",  women_lifestyle_path %></li>
    <li><%= link_to "Shoes", women_shoe_path %></li>
    <li><%= link_to "Shorts & Skirts", women_short_skirt_path %></li>
    <li><%= link_to "Sunglasses & Watches", women_sunglass_watch_path  %></li>
    <li><%= link_to "Swim & Beachwear", women_swim_beachwear_path %></li>
    <li><%= link_to "Tops", women_top_path %></li><br>
    <li><%= link_to "BRANDS", women_brand_path %><li>
    <li><%= link_to "ON SALE", site_sale_womens_path %><li>
    <li><%= link_to "HOME", root_path %><li>
  </ul>
</div>
