
<div style="margin-top: 50px;"></div>
<div class="affiliate-portal-item">
  <h1 class="your-items">All Admin Items</h1>

   <p><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></p>


  <p><em><%= link_to 'Shop The Look Items', shop_look_image_admin_index_path, class: "add-new-client" %></em></p>

  <p><em><%= link_to 'ADD new Client', new_client_path, class: "add-new-client" %></em></p>
  <p><em><%= link_to 'List of Clients', client_all_path, class: "add-new-client" %></em></p>

  <div style="overflow-x: auto;">
    <table class="sort-table">
      <tr class="sorting-table-rows">
        <th>Image</th>
        <th><%= sortable "user_email" %></th>
        <th><%= sortable "sex" %></th>
        <th><%= sortable "brand" %></th>
        <th><%= sortable "description" %></th>
        <th><%= sortable "shipped_from" %></th>
        <th><%= sortable "price" %></th>
        <th><%= sortable "sale", "On Sale" %></th>
        <th><%= sortable "featured_item" %></th>
        <th><%= sortable "staff_picks" %></th>
        <th><%= sortable "created_at" %></th>
        <th>Action</th>
      </tr>
      <% @all_items.each do |item| %>
        <tr class="users-sorting-items">
          <td>
            <div class="table-image">
              <%= image_tag item.item_image.url(:thumb), class: "thumbnail" %>
              <p><%= item.short_description %></p>
            </div>
          </td>
          <td><%= item.user.email %></td>
          <td><%= item.sex %></td>
          <td><%= word_branding(item.brand) %></td>
          <td><%= item.description.slice(0..50) + "...." %></td>
          <td><%= item.shipped_from %></td>
          <td>$<%= zeros(item.price) %></td>
          <td>
            <%if item.sale == false %>
              <%= 'No' %>
            <% else %>
              <%= 'Yes' %><br>
              $<%= zeros(item.sale_price) %>
            <% end %>
          </td>
          <td>
            <%if item.featured_item != true %>
              <%= 'Featured No' %>
            <% else %>
              <%= 'Featured Yes' %><br>
            <% end %>
          </td>
          <td>
            <%if item.staff_picks != true %>
              <%= 'Staff picked No' %>
            <% else %>
              <%= 'Staff picked Yes' %><br>
            <% end %>
          </td>
          <td>
            <p><%= item.created_at.strftime("%m/%d/%y") %></p>
            <p><%= item.created_at.strftime("%I:%M%p") %></p>
          </td>
          <td>
            <p><%= link_to 'Edit', edit_admin_path(item.id) %></p>
            <p><%= link_to 'Delete', admin_path(item.id), method: :delete %></p>
            <!-- <p><%= link_to 'Show', admin_path(item) %></p></td> -->
          </td>
        </tr>
      <% end %>
    </table>
  </div>