<%= render "templates/admin/admin_navigation" %>
<div class="affiliate-portal-item">
  <h1 class="your-items">All Admin Items</h1>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @all_items %>
    </div>
    <%= will_paginate @all_items, :container => false %>
  </div>

  <div style="overflow-x: auto;">
    <table class="sort-table">
      <tr class="sorting-table-rows">
        <th>Image</th>
        <th><%= sortable "user_email" %></th>
        <th><%= sortable "sex" %></th>
        <th><%= sortable "brand" %></th>
        <th><%= sortable "description" %></th>
        <th><%= sortable "price", "PRICE" %></th>
        <th><%= sortable "sale", "ON SALE" %></th>
        <th><%= sortable "featured_item" %></th>
        <th><%= sortable "staff_picks" %></th>
        <th><%= sortable "created_at" %></th>
        <th>Action</th>
      </tr>
      <% @all_items.each do |item| %>
        <tr class="users-sorting-items">
          <td class="table-image-admin">
            <div class="table-image">
              <%= image_tag item.item_image.url(:thumb), class: "thumbnail" %>
            </div>
          </td>
          <td><%= item.user.email %></td>
          <td><%= item.sex %></td>
          <td><%= word_branding(item.brand) %></td>
          <td><%= item.description.slice(0..50) + "...." %></td>
          <td>$<%= zeros(item.price) %></td>
            <%if item.sale == false %>
              <td class="sale-false-admin">
              </td>
            <% else %>
              <td class="sale-true-admin">
                <p>$<%= zeros(item.sale_price) %></p>
                <p>expires <%= item.try(:duration).try(:strftime, ("%D")) %></p>
              </td>
            <% end %>
          <td>
            <%if item.featured_item != true %>
              <%= 'Featured No' %>
            <% else %>
              <%= 'Featured Yes' %><br>
            <% end %>
          </td>
          <td>
            <%if item.staff_picks != true %>
              <%= 'Staff picked No' %>
            <% else %>
              <%= 'Staff picked Yes' %><br>
            <% end %>
          </td>
          <td>
            <p><%= item.created_at.strftime("%m/%d/%y") %></p>
            <p><%= item.created_at.strftime("%I:%M%p") %></p>
          </td>
          <td>
            <p><%= link_to 'Edit', edit_admin_path(item.id) %></p>
            <p><%= link_to 'Delete', admin_path(item.id), method: :delete %></p>
            <p><%= link_to 'Show', item_path(item) %></p></td>
          </td>
        </tr>
      <% end %>
    </table>

  </div>


