<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="hide-banner-mobile">
  <div class="shop_the_look_mens"></div>
</div>
<div class="desktop-categories"><h1>Going Out</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/mens/sub_categories_sort/shop_the_look" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Shop The Look</h1>
    <div class="item_sub_cat mobile-sort">
      <%= render "templates/womens/mobile_sub_categories_sort/shop_the_look" %>
    </div>
    <%= render "templates/all_shop_the_look_display" %>
    </div>
  </div>
</div>

<%= render "templates/shop_look_image_loader" %>
<%= render 'templates/footer/footer' %>