<%= render "templates/mobile_nav/navigation_mens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_mens" %>
<%= render "templates/mens/navigation/navigation" %>
<div class="formal_hero_mens"></div>
<div class="desktop-categories"><h1>Jackets & Coats</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/mens/sub_categories_sort/formal" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Formal</h1>
    <div class="item_sub_cat mobile-sort">
      <%= render "templates/mens/mobile_sub_categories_sort/accessories" %>
    </div>
    <%= render "templates/all_items_display"  %>
  </div>
</div>
<%= render "templates/image_loader" %>
<%= render "templates/footer/footer" %>