<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", women_shop_the_look_path %></li>
    <li><%= link_to "Casual", women_shop_the_look_casual_path %></li>
    <li><%= link_to "Going Out", women_shop_the_look_going_out_path %></li>
    <li><%= link_to "Working Out", women_shop_the_look_working_out_path %></li>
    <li><%= link_to "Other", women_shop_the_look_other_path %></li>
  </ul>
</div>