<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", women_shoe_path %></li>
    <li><%= link_to "Boots", women_shoe_boot_path %></li>
    <li><%= link_to "Sneakers", women_shoe_trainer_path %></li>
    <li><%= link_to "Heels", women_shoe_heel_path %></li>
    <li><%= link_to "Flats", women_shoe_flat_path %></li>
  </ul>
</div>
