<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <% if current_page?("/women/sunglass_watch") %>
      <li><b><%= link_to "All", women_sunglass_watch_path %></b></li>
      <li><%= link_to "Sunglasses", women_sunglass_watch_sunglass_path %></li>
      <li><%= link_to "Watches", women_sunglass_watch_watch_path %></li>
    <% elsif current_page?("/women/sunglass_watch/watch") %>
      <li><%= link_to "All", women_sunglass_watch_path %></li>
      <li><%= link_to "Sunglasses", women_sunglass_watch_sunglass_path %></li>
      <li><b><%= link_to "Watches", women_sunglass_watch_watch_path %></b></li>
    <% elsif current_page?("/women/sunglass_watch/sunglass") %>
      <li><%= link_to "All", women_sunglass_watch_path %></li>
      <li><b><%= link_to "Sunglasses", women_sunglass_watch_sunglass_path %></b></li>
      <li><%= link_to "Watches", women_sunglass_watch_watch_path %></li>
    <% end %>
  </ul>
</div>
