<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", women_top_path %></li>
    <li><%= link_to "T-Shirts & Vests", women_top_tshirt_vest_path %></li>
    <li><%= link_to "Shirts & Blouses", women_top_shirt_blouse_path %></li>
    <li><%= link_to "Hoodies & Sweatshirts", women_top_hoodie_sweat_shirt_path %></li>
    <li><%= link_to "Jackets & Coats", women_top_jacket_coat_path %></li>
  </ul>
</div>
