<% sex = ['Mens', 'Womens'] %>

<%  mens_categories = {'Accessories' => ['Underwear & Socks', 'Hats', 'Grooming', 'Jewellery'], 'Formal' => ['Suits', 'Accessories'], 'Lifestyle' => ['Lifestyle'], 'Longs' => ['Jeans', 'Chinos', 'Joggers'], 'Shoes' => ['Boat', 'Boots', 'Trainers', 'Formal', 'Other'], 'Shorts & Swimwear' => ['Shorts', 'Swimwear'], 'Sunglasses & Watches' => ['Sunglasses', 'Watches'] , 'Tops' => ['T-Shirts & Polos', 'Shirts', 'Hoodies & Sweatshirts', 'Jackets & Coats'] } %>


<% womens_categories = {'Accessories' => ['Lingerie & Underwear', 'Hats', 'Bags & Purses', 'Jewellery'], 'Dresses' => ['Casual', 'Going Out', 'Summer', 'Work'], 'Jeans, Trousers & Leggings' => ['Jeans', 'Trousers','Leggings'], 'Lifestyle' => ['Lifestyle'], 'Shoes' => ['Boots', 'Trainers', 'Heels', 'Wedges', 'Flats'], 'Shorts & Skirts' => ['Shorts', 'Skirts'], 'Sunglasses & Watches' => ['Sunglasses', 'Watches'], 'Swim & Beachwear' => ['Bikinis', 'Swimsuits', 'Other'], 'Tops' => ['T-Shirts & Vests', 'Shirts & Blouses', 'Hoodies & Sweatshirts', 'Jumpers & Cardigans', 'Formal'] } %>

<% shipped_from_loc = [ 'U.S.A', 'Canada', 'UK / Europe', 'Asia', 'NZ / Aus'] %>

<%= form_for @item, url: {action: "create"}, :html => {:multipart => true}  do |f| %>
  <div class="fashion-item">
    <div>
      <span class="label label-default">Image</span>
    </div>
    <div>
      <input type="file" name="FashionItem[item_image]" accept="image/*">
    </div>
    <div>
      <span class="label label-default">Gender</span>
    </div>
    <div>
      <select id="item-sex" name="FashionItem[sex]">
        <option value="<%= @item.sex %>" selected><%= @item.sex %> </option>
      </select>
    </div>
    <div>
      <span class="label label-default">Brand</span>
    </div>
    <div>
      <input type="text" name="FashionItem[brand]" value="<%= @item.brand %>"  required>
    </div>
    <div>
      <span class="label label-default">Category</span>
    </div>
    <div>
      <select id="item-category" name="FashionItem[category]">
        <% if @item.sex == 'Mens' %>
            <option class="chosen-item-category" value="<%= @item.category %>" selected><%= @item.category %> </option>
            <% mens_categories.each do |category, sub_category| %>
              <% if category != @item.category %>
                <option class="chosen-item-category" value="<%= category %>"><%= category %></option>
              <% end %>
            <% end %>
        <% else %>
            <option class="chosen-item-category" value="<%= @item.category %>" selected><%= @item.category %> </option>
            <% womens_categories.each do |category, sub_category| %>
              <% if category != @item.category %>
                <option class="chosen-item-category" value="<%= category %>"><%= category %></option>
  `          <% end %>
            <% end %>
        <% end %>
      </select>
    </div>
    <div>
      <span class="label label-default">Sub-category</span>
    </div>
    <div>
      <select id="item-sub-category" name="FashionItem[sub_category]">
        <option value="<%= @item.sub_category %>" selected><%= @item.sub_category %> </option>
      </select>
    </div>
    <div>
      <span class="label label-default">Item Description</span>
    </div>
    <div>
      <input type="text" name="FashionItem[description]" value="<%= @item.description %>"  required>
    </div>
    <div>
      <span class="label label-default">Price (USD)</span>
    </div>
    <div>
      <input type="text" name="FashionItem[price]" value="<%= @item.price %>"  required>
    </div>
    <div>
      <span class="label label-default">Shipping From</span>
    </div>
    <div>
      <select id="new-item-shipping-from" name="FashionItem[shipping_from]">
        <% shipped_from_loc.each do |location| %>
          <% if location == @item.shipped_from %>
            <option value="<%= @item.shipped_from %>" selected><%= @item.shipped_from %></option>
          <% else %>
            <option value="<%= @item.shipped_from %>"><%= location %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <div>
      <span class="label label-default">On Sale?</span>
    </div>
    <div>
      <select id='item-on-sale' name="FashionItem[sale]">
        <% if @item.sale == true %>
          <option value="false">No</option>
          <option value="true" selected>Yes</option>
        <% elsif @item.sale == false %>
          <option value="false" selected>No</option>
          <option value="true">Yes</option>
        <% end %>
      </select>
    </div>
    <div id="item-sale-price">
      <div>
        <span class="label label-default">Sale Price (USD)</span>
      </div>
      <div>
        <input type="text" name="FashionItem[sale_price]" value="<%= @item.sale_price %>"  required>
      </div>
    </div>
    <input type="hidden" name="FashionItem[user_id]" value="<%= @current_user.id %>">
  </div>
  <p>
    <%= f.submit %>
  </p>
  <% end %>