<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <% if current_page?("/men/short_swimwear") %>
      <li><b><%= link_to "All", men_short_swimwear_path %></b></li>
      <li><%= link_to "Shorts", men_short_swimwear_short_path %></li>
      <li><%= link_to "Swimwear", men_short_swimwear_swimwear_path %></li>
    <% elsif current_page?("/men/short_swimwear/short") %>
      <li><%= link_to "All", men_short_swimwear_path %></li>
      <li><b><%= link_to "Shorts", men_short_swimwear_short_path %></b></li>
      <li><%= link_to "Swimwear", men_short_swimwear_swimwear_path %></li>
    <% elsif current_page?("/men/short_swimwear/swimwear") %>
      <li><%= link_to "All", men_short_swimwear_path %></li>
      <li><%= link_to "Shorts", men_short_swimwear_short_path %></li>
      <li><b><%= link_to "Swimwear", men_short_swimwear_swimwear_path %></b></li>
    <% end %>
  </ul>
</div>
