<div class="all-categories">
  <h1>Filter By +</h1>
  <ul class="sorting-class-desktop">
    <li><%= link_to "All", men_top_path %></li>
    <li><%= link_to "T-Shirts & Polos", men_top_polo_path %></li>
    <li><%= link_to "Shirts", men_top_shirt_path %></li>
    <li><%= link_to "Hoodies", men_top_hoodie_path %></li>
    <li><%= link_to "Jackets", men_top_jacket_path %></li>
  </ul>
</div>
