<% item_options = {'All Single Listings': '/item', '+ Add Single Listing': '/item/new', 'All Shop The Look Listings': '/shop_the_look_images', '+ Add Shop The Look Listing': '/shop_the_look_images/new' }%>

<div class="sticky-nav-mens">
  <h1>InstaBoss</h1>
  <div class="all-nav-link">
    <%= link_to "MENS", men_path %>
    <%= link_to "WOMENS", women_path %>
    <%= link_to "SHOP THE LOOK", men_shop_the_look_path %>
    <%= link_to "SALE", site_sale_mens_path %>///
    <div class="client-nav">
      <%= link_to "CLIENT OPTIONS", class: "client-opt" %>
        <div class="client-dropdown">
          <% item_options.each do |keys, values| %>
            <%= link_to keys, values %>
          <% end %>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        </div>
      <div class="arrow-down-client"></div>
    </div>
  </div>
</div>
<div class="banner-nav-space"></div>
