<div class="sticky-nav-mens">
  <h1>InstaBoss</h1>
  <div class="all-nav-link">
    <%= link_to "MENS", men_path %>
    <%= link_to "WOMENS", women_path %>
    <%= link_to "SHOP THE LOOK", men_shop_the_look_path %>
    <%= link_to "SALE", site_sale_mens_path %>
    <%= link_to "ABOUT", men_about_path %>
    <%= link_to "CONTACT", men_contact_path %>
  </div>
</div>
<div class="banner-nav-space"></div>