<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="dress_women"></div>
<div class="desktop-categories"><h1>Dresses</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/womens/sub_categories_sort/dresses" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Dresses</h1>
    <%= render "templates/womens/index_page/featured" %>
    <div class="item_sub_cat mobile-sort">
      <%= render "templates/womens/mobile_sub_categories_sort/dresses" %>
    </div>
    <div id="products">
      <%= render "templates/all_items_display" %>
    </div>
  </div>
</div>
<% if @all_items.length > 32 %>
  <img src="/assets/load_more_icon.png" alt="" id="paginate_page">
<% end %>
<div id="hide-page-numbers">
  <%= will_paginate @all_items %>
</div>

<%= render "templates/footer/footer_women" %>