<% womens_categories = {'All': '/women/all', 'Accessories': '/women/accessory', 'Dresses': '/women/dress','Jeans Trousers & Leggings': '/women/jean_trouser' , 'Home & Lifestyle': '/women/home', 'Shoes': '/women/shoe' , 'Shorts & Skirts': '/women/short', 'Sunglasses & Watches': '/women/sunglass_watch' , 'Swim & Beachwear': '/women/short_swimwear', 'Tops': '/women/top', 'SHOP THE LOOK': '/women/shop_the_look' }; %>

<% womens_brands = {'Auguste': '/women_brand/auguste','Cooper St': '/women_brand/coopers_st','Lorna Jane': '/women_brand/lorna_jane', 'Mura Boutique': '/women_brand/mura','New Balance': '/women_brand/new_balance','Samantha Wills': '/women_brand/samantha_wills', 'Seafolly': '/women_brand/sea_folly', 'Showpo': '/women_brand/showpo', 'Sunday Somewhere': '/women_brand/sunday_somewhere', 'Tony Bianco': '/women_brand/tony_bianco'} %>

<% shop_look_brands = {'All': '/women/shop_the_look/', 'Beach & Swim': '/women/shop_the_look/beach_swim', 'Casual': '/women/shop_the_look/casual', 'Going Out': '/women/shop_the_look/going_out', 'Working Out': '/women/shop_the_look/working_out', 'Other': '/women/shop_the_look/other' } %>

<div class="sticky-nav-mens">
  <a href="/"><h1>InstaBoss</h1></a>
  <div class="all-nav-link">
    <%= link_to "MENS", men_path %>
    <u><%= link_to "WOMENS", women_path %></u>
    <div class="item_nav_top">
      <%= link_to "SHOP",  class: "shop_by" %>
      <div class="item_drop_shop_by" id="my_drop_down">
        <% womens_categories.each do |keys, values| %>
          <%= link_to keys, values %>
        <% end %>
      </div>
      <div class="arrow-down-shop"></div>
    </div>
    <div class="shop_look_nav_top">
    <%= link_to "SHOP THE LOOK", women_shop_the_look_path, class: "shop-look-nav"%>
      <div class="shop_drop_shop_by">
        <% shop_look_brands.each do |shop_look_cats, link| %>
          <%= link_to shop_look_cats, link %>
        <% end %>
      </div>
      <div class="arrow-down-shop-look"></div>
    </div>
    <%= link_to "SALE", site_sale_womens_path %>
    <div class="item_nav_top_brand">
      <%= link_to "BRANDS", women_brand_path, class: "shop_by_brand" %>
      <div class="item_drop_shop_by_brand" id="my_drop_down_brand">
        <% womens_brands.each do |keys, values| %>
          <%= link_to keys, values %>
        <% end %>
        <%= link_to "ALL BRANDS", women_brand_path %>
      </div>
      <div class="arrow-down-brand"></div>
    </div>
    <%= link_to "ABOUT", women_about_path %>
    <%= link_to "CONTACT", women_contact_path %>
  </div>
  <div class="search-container">
    <div class="search-btn">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </div>
    <div class="search-input">
      <%= form_tag women_side_search_brand_path, method: "post" do %>
        <%= text_field_tag :query, nil, placeholder: "search...", class: "search-tag" %>
      <% end %>
    </div>
  </div>
</div>
<div class="banner-nav-space"></div>