<div class="col-md-12 col-sm-12 col-xs-12">
  <% @sale.each do |item| %>
    <div class="box" style="float: left; margin-right: 100px;">
      <%= image_tag item.item_image.url(:medium), style: "width:200px; height:200px;" %>
      <p><%= item.sex %></p>
      <p><%= item.sub_category %></p>
      <p><%= item.brand %></p>
      <p><%= item.description %></p>
    </div>
  <% end %>
</div>