<div class="search_bar">
    <%= render "templates/men_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_mens" %>
<% end %>
<%= render "/templates/mobile_navigation_sliding_div_mens" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_mens" %>
</div>
<div class="container mobile_container"  style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div><br>
    <h1 class="your-items">Blog</h1>

    <div class="all-blogs center-blogs">

      <div class="col-md-4 col-sm-6 col-xs-12 blog">
        <a href="/blog/jaf_blog">
          <img src="/assets/jaf_blog/jaf_cover_2.jpg" border="0" alt="jaf_ocean" class="img-responsive center-block blog-img">
        </a>
        <div class="blog-description">
          <p><i>30/10/16</i></p>
          <p><i>J.A.F Summer 2016 Campaign</i></p>
          <a href="/blog/mvp_blog"><u><i>See more</i></u></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 blog">
        <a href="/blog/mvp_blog">
          <img src="/assets/mvp_blog/mvp_bag.jpg" border="0" alt="mvp_bag" class="img-responsive center-block blog-img">
        </a>
        <div class="blog-description">
          <p><i>1/11/16</i></p>
          <p><i>Desinger Vintage Sports by the MVP</i></p>
          <a href="/blog/mvp_blog"><u><i>See more</i></u></a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 blog">
        <a href="/blog/retromarine_blog">
          <img src="/assets/retro_blog/retro_1.jpg" border="0" alt="retro_swim" class="img-responsive center-block blog-img">
        </a>
        <div class="blog-description">
          <p><i>2/11/16</i></p>
          <p><i>Spanish Vacation by Retromarine</i></p>
          <a href="/blog/mvp_blog"><u><i>See more</i></u></a>
        </div>
      </div>

    </div>



  </div>
</div>

<footer style="margin-bottom: 100px;"></footer>