<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="hide-banner-mobile">
  <div class="shop_the_look_womens"></div>
</div>
<div class="desktop-categories"><h1>Casual</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/womens/sub_categories_sort/shop_the_look" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Shop The Look</h1>
    <div class="item_sub_cat">
    </div>
    <div id="products">
      <%= render "templates/all_shop_the_look_display" %>
    </div>
    </div>
  </div>
</div>

<%= render "templates/shop_look_image_loader" %>
<%= render "templates/footer/footer_women" %>