<div class="search_bar">
    <%= render "templates/women_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_womens" %>
<% end %>
<%= render "/templates/mobile_navigation_sliding_div_women" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<div class="container mobile_container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_womens_subcat" %>
    </div><br>
    <h1 class="your-items mob-ul">Featured Brands</h1>
    <%= render "templates/horizontal_line" %>
    <a href="/women_brand/alice_mccall">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/alice_mccall_brand.jpg" border="0" alt="alice_mccall" style="height: 120px;" alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/auguste">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/auguste_brand.jpg" border="0" alt="auguste" style="height: 160px;" alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/esther">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/esther logo.jpg" border="0" alt="esther"  style="height: 140px;" alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/jo_mercer">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/jomercer.png" border="0" alt="jo mercer" style="height: 40px;" alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/lorna_jane">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/lorna_brand.jpg" border="0" alt="lorna jane" style="height: 130px;" alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/mura">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/mura boutique logo.png" border="0" alt="mura"  style="height: 150px; alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/princess_polly">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/ppolly logo.png" border="0" alt="princess polly"  style="height: 40px; alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/samantha_wills">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/samantha wills logo.jpg" border="0" alt="samantha willis"  style="height: 60px; alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/sea_folly">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/sea_folly_brand.jpg" border="0" alt="sea folly" alt="" style="height: 140px;">
        </div>
      </div>
    </a>

    <a href="/women_brand/senso">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/senso logo.png" border="0" alt="senso"  style="height: 50px; alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/showpo">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/Logo-a3.jpg" border="0" alt="showpo"  style="height: 50px; alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/sunday_somewhere">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/brand_ss.png" border="0" alt="sunday somewhere" style="height: 90px;" alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/tony_bianco">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/tony bianco logo.gif" border="0" alt="tony bianco" alt="" style="height: 25px;">
        </div>
      </div>
    </a>

    <a href="/women_brand/top_shop">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/top_shop_brand.png" border="0" alt="top shop" style="height: 70px;" alt="">
        </div>
      </div>
    </a>

    <a href="/women_brand/victorias_secret">
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div brands_image_div">
          <img src="/assets/vic_brand.png" border="0" alt="victorias secret" style="height: 110px;" alt="">
        </div>
      </div>
    </a>

  </div>
</div>