<div class="search_bar">
  <%= render "templates/women_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_womens" %>
<% end %>

<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="dress_women">
    </div>
  </div>
</div>


<div class="menu-side">
  <div class="margin_menu_side"></div>
  <%= render "templates/side_navigation_womens" %>
</div>
<div class="container mobile_container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_womens_subcat" %>
    </div><br>
    <h1 class="your-items">Dresses</h1>
    <div class="item_sub_cat">
      <%= render "templates/dress_sub_cat" %>
    </div>
    <%= render "templates/horizontal_line" %>
    <% @dress.each do |dress_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12 <%= dress_items.sub_category %>">
        <div class="image_div">
          <a href="/item/<%= dress_items.id %>">
            <%= image_tag dress_items.item_image.url(:medium) %>
          <div class="description_content">
            <% if dress_items.sale == true %>
            <table>
              <tr class="specials_table">
                <td><strike><em>$<%= zeros(dress_items.price) %></em></strike></td>
                <td>$<%= zeros(dress_items.sale_price) %></td>
              </tr>
            </table>
            <% else %>
            <table>
              <tr class="normal_table">
                <td>$<%= zeros(dress_items.price) %></td>
              </tr>
            </table>
            <% end %>
            <p><%= dress_items.short_description %></p>
            <p><%= word_branding(dress_items.brand) %></p>
          </div>
          </a>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= render 'templates/mail_chimp_form_womens' %>