<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<div class="banner-photos">
  <div class="womens_main_photo"></div>
</div>

<div class="container mobile_container">
  <div class="row mobile_row">
    <% if @featured_women.length >= 1 %>
      <h1 class="your-items-main mob-ul">Featured Women's</h1>
      <%= render "templates/horizontal_line" %>
      <%= render "templates/womens/index_page/featured" %>
    <% end %>
  </div>
</div>

<div class="container mobile_container">
  <div class="row mobile_row">
    <% if @staff_picked_women.length >= 1 %>
      <h1 class="your-items-main mob-ul">Staff Picks</h1>
      <%= render "templates/horizontal_line" %>
      <%= render "templates/womens/index_page/staff_picks" %>
    <% end %>
  </div>
</div>

<div class="container mobile_container">
  <div class="row mobile_row">
    <div class="sale_feat_h1">
      <h1 class="your-items-main mob-ul">Featured Sale</h1>
    </div>
    <%= render "templates/horizontal_line" %>
    <%= render "templates/womens/index_page/on_sale_nine" %>
  </div>
</div>

