<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>
<div class="logo-image">
  <img src="../assets/BEEEE.jpg" alt="" class="image_bee">
  <h2>WOMENS</h2>
</div>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>

<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="womens_main_photo">
    </div>
  </div>
</div>

<h1 class="your-items">Womens Sale</h1>
<div class="mens-main-menu-side">
  <%= render "templates/side_navigation_womens"%>
</div>
<div class="container">
  <div class="row">
    <%= render "templates/on_sale_nine" %>
    <% if @featured_women.length >= 1 %>
      <h1 class="your-items">Womens Featured</h1>
      <%= render "templates/featured_womens" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <hr>
    <div class="col-md-2 col-sm-3 col-xs-3"></div>
    <%= render "templates/all_womens" %>
  </div>
</div>
