<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<div class="banner-photos">
  <div class="womens_main_photo women-page"></div>
</div>

<div class="mobile-categories-feat"><h1>Featured Women's</h1></div>
<div class="spacer-featured"></div>


<div class="desktop-categories"><h1>Featured Women's</h1></div>
<div class="container mobile_container">
  <div class="row mobile_row">
    <h1 class="your-items mob-ul">Featured Women's</h1>
    <%= render "templates/womens/index_page/featured" %>
  </div>
</div>

<div class="container mobile_container">
  <div class="row mobile_row">
    <h1 class="your-items mob-ul">Staff Picks</h1>
    <%= render "templates/womens/index_page/staff_picks" %>
  </div>
</div>

<div class="container mobile_container">
  <div class="row mobile_row">
    <div class="sale_feat_h1">
      <h1 class="your-items mob-ul">Featured Sale</h1>
    </div>
    <%= render "templates/womens/index_page/on_sale_nine" %>
  </div>
</div>

<%= render "templates/footer/footer_women" %>
<!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"8b28834dbb48bd297f7c979ea","lid":"79782c89d0"}) })</script> -->