<%= render "templates/mobile_nav/navigation_main" %>
<%= render "templates/mobile_nav/navigation_mobile_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>

<div class="life_style_women"></div>
<div class="desktop-categories"><h1>Home & LifeStyle</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/womens/sub_categories_sort/home" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Home & LifeStyle</h1>
    <div class="item_sub_cat mobile-sort">
      <%= render "templates/womens/mobile_sub_categories_sort/home" %>
    </div>
    <%= render "templates/all_items_display" %>
  </div>
</div>

<%= render "templates/footer/footer_women" %>