<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="shop_the_look_womens"></div>
<div class="desktop-categories"><h1>Shop The Look</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/mens/sub_categories_sort/shop_the_look" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Shop The Look</h1>
    <div class="item_sub_cat mobile-sort">
      <%= render "templates/mens/mobile_sub_categories_sort/shop_the_look" %>
    </div>
    <% @shop_the_look_womens.each do |shop_the_look_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12 <%= shop_the_look_items.describe_the_look %>">
        <div class="image_div">
          <a href="/shop_the_look_images/<%= shop_the_look_items.id %>">
            <%= image_tag shop_the_look_items.shop_look_image.url(:medium) %>
          <div class="description_content">
            <table>
              <tr class="shop_look_table"></tr>
            </table>
            <div class="shop-the-look-description">
              <h2>Shop The Look</h2>
              <p><%= word_branding(shop_the_look_items.shop_the_look_items.first.brand) %></p>
            </div>
          </div>
          </a>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= render "templates/footer/footer_women" %>