<% all_women_brands_array = ["esther boutique", "mura boutique", "samantha wills","alice mccall", "auguste", "lorna jane", "seafolly", "sunday somewhere", "tony bianco", "senso", "showpo","jo mercer", "princess polly", "new balance", "bronze snake", "cooper st"] %>

<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="shop_the_look_womens"></div>
<div class="desktop-categories"><h1>Shop The Look</h1></div>
<div class="categorise desktop-sort">
  <%= render "templates/mens/sub_categories_sort/shop_the_look" %>
</div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items">Shop The Look</h1>
    <div class="item_sub_cat mobile-sort">
      <%= render "templates/mens/mobile_sub_categories_sort/shop_the_look" %>
    </div>
    <% @shop_the_look_womens.each do |shop_the_look_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12 <%= shop_the_look_items.describe_the_look %>">
        <div class="image_div">
          <a href="/shop_the_look_images/<%= shop_the_look_items.id %>">
            <%= image_tag shop_the_look_items.shop_look_image.url(:medium) %>
          <div class="description_content">
            <table>
              <tr class="shop_look_table"></tr>
            </table>
            <div class="shop-the-look-description">
              <h2>Shop The Look</h2>
              <p><%= word_branding(shop_the_look_items.shop_the_look_items.first.brand) %></p>
            </div>
          </div>
          </a>
        </div>
      </div>
        <div class="outside-container">
          <div class="image-holder">
            <%= image_tag shop_the_look_items.shop_look_image.url(:original) %>
          </div>
          <div class="on-click-enlarge">
            <span class="close-button-enlarged">X</span>
            <div class="enlarge-left">
            </div>
            <div class="enlarge-right">
            <% shop_the_look_items.shop_the_look_items.each do |j| %>
              <h2 class="shop-the-look-description"><em><%= j.description %></em></h2>
              <% if all_women_brands_array.include?(j.brand) %>
                <p><a href="<%= link_to_brand_page(j.brand, shop_the_look_items.gender) %> "><em><%= word_branding(j.brand) %></em></a></p>
              <% else %>
                <p><em><%= word_branding(j.brand) %></em></p>
              <% end %>

              <% if j.sale == true %>
                <p class="shop-the-look-price"><em><strike>AUD $<%= zeros(j.price) %></strike></em></p>
                <p class="shop-the-look-price"><em>AUD $<%= zeros(j.sale_price) %></em></p>
              <% elsif j.sale == false %>
                <p class="shop-the-look-price"><em>AUD $<%= zeros(j.price) %></em></p>
              <% else %>
                <p>!price</p>
              <% end %>

              <div class="show-button-shop-look">
                <a href="<%= j.unique_affiliate_url %>" target="_blank">
                  <img src="/assets/shop now.png">
                </a>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "templates/footer/footer_women" %>