<div class="search_bar">
  <%= render "templates/women_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_womens" %>
<% end %>
<%= render "/templates/mobile_navigation_sliding_div_women" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="shop_the_look_womens">
    </div>
  </div>
</div>
<div class="menu-side">
  <%= render "templates/side_navigation_womens_extra_margin" %>
</div>
<div class="container mobile_container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_womens_subcat" %>
    </div>
    <h1 class="your-items">Shop The Look</h1>
    <div class="item_sub_cat">
      <%= render "templates/shop_the_look_mens_sub_cat" %>
    </div>
    <%= render "templates/horizontal_line" %>
    <% @shop_the_look_womens.each do |shop_the_look_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div">
          <a href="/shop_the_look_images/<%= shop_the_look_items.id %>">
            <%= image_tag shop_the_look_items.shop_look_image.url(:medium) %>
          <div class="description_content">
            <table>
              <tr class="shop_look_table"></tr>
            </table>
            <div class="shop-the-look-description">
              <h2>Shop The Look</h2>
              <p><%= word_branding(shop_the_look_items.shop_the_look_items.first.brand) %></p>
            </div>
          </div>
          </a>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= render 'templates/mail_chimp_form_womens' %>