<div class="search_bar">
  <%= render "templates/women_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_womens" %>
<% end %>
<%= render "/templates/mobile_navigation_sliding_div_women" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="skirt_women">
    </div>
  </div>
</div>
<div class="menu-side">
  <div class="margin_menu_side"></div>
  <%= render "templates/side_navigation_womens" %>
</div>
<div class="container mobile_container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_womens_subcat" %>
    </div><br>
    <h1 class="your-items">Shorts & Skirts</h1>
    <div class="item_sub_cat">
      <%= render "templates/short_skirt_sub_cat" %>
    </div>
    <%= render "templates/horizontal_line" %>
    <%= render "templates/all_items_display" %>
    </div>
  </div>
</div>

<%= render 'templates/mail_chimp_form_womens' %>