<div class="container">
  <div class="row">
    <%= render "templates/side_navigation_womens" %>
    <div class="col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
      <% @sunglass_watch.each do |sunglass_items| %>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div">
            <a href="/item/<%= sunglass_items.id %>">
              <%= image_tag sunglass_items.item_image.url(:medium) %>
            <div class="description_content">
              <% if sunglass_items.sale == true %>
              <table>
                <tr class="specials_table">
                  <td><strike><em>$<%= sunglass_items.sale_price %></em></strike></td>
                  <td>$<%= sunglass_items.price %></td>
                </tr>
              </table>
              <% else %>
              <table>
                <tr class="normal_table">
                  <td>$<%= sunglass_items.price %></td>
                </tr>
              </table>
              <% end %>
              <p><%= sunglass_items.short_description %></p>
            </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
