<div class="container">
  <div class="row">
    <%= render "templates/side_navigation_womens" %>
    <div class="col-sm-1 col-xs-1"></div>
    <div class="col-md-10 col-sm-8 col-xs-8" style="padding: 0px;">
      <% @sunglass_watch.each do |sunglass_items| %>
        <a href="/item/<%= sunglass_items.id %>">
          <div class="box col-md-4 col-sm-6 col-xs-12" style="padding: 0px;">
            <div class="div_specials">
              <table style="width: 100%;">
                <% if sunglass_items.sale == false %>
                <tr class="normal_table">
                  <td style="width: 150px;">&nbsp</td>
                  <td style="width: 150px;">&nbsp</td>
                  <td><em>$<%= sunglass_items.price %>0</em></td>
                </tr>
              </table>
              <% else %>
                <table style="width: 100%;">
                  <tr class="specials_table">
                    <td><em><%= percentage(sunglass_items.price, sunglass_items.sale_price) %>% off!</em></td>
                    <td><strike><em>$<%= sunglass_items.price %>0</em></strike></td>
                    <td>$<%= sunglass_items.sale_price %>0</td>
                  </tr>
                </table>
              <% end %>
            </div>
            <span class="helper"></span>
            <%= image_tag sunglass_items.item_image.url(:medium), class: "box-image;"%>
            <div class="description_item">
              <div class="description_content">
                <%= "short headline here 25 characters max" %>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
