<div class="search_bar">
  <%= render "templates/women_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_womens" %>
<% end %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<%= render "/templates/mobile_navigation_sliding_div_women" %>
<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="coopers_st_womens">
    </div>
  </div>
</div>
<div class="mens-main-menu-side">
  <%= render "templates/side_nav_womens_main"%>
</div>
<div class="container mobile_container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div>
    <h1 class="your-items mob-ul">Cooper St</h1>
    <%= render "templates/horizontal_line" %>
    <% @coopers_st.each do |coopers_st_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div">
          <% if coopers_st_items.class == FashionItem %>
            <a href="/item/<%= coopers_st_items.id %>">
              <%= image_tag coopers_st_items.item_image.url(:medium) %>
              <div class="description_content">
                <% if coopers_st_items.sale == true %>
                  <table>
                    <tr class="specials_table">
                    <td><strike><em>$<%= zeros(coopers_st_items.price) %></em></strike></td>
                    <td>$<%= zeros(coopers_st_items.sale_price) %></td>
                    </tr>
                  </table>
                <% else %>
                  <table>
                    <tr class="normal_table">
                    <td>$<%= zeros(coopers_st_items.price) %></td>
                    </tr>
                  </table>
                <% end %>
                <p><%= coopers_st_items.short_description %></p>
                <p><%= word_branding(coopers_st_items.brand) %></p>
              </div>
            </a>
          <% elsif coopers_st_items.class == ShopTheLookImage %>
            <a href="/shop_the_look_images/<%= coopers_st_items.id %>">
              <%= image_tag coopers_st_items.shop_look_image.url(:medium) %>
              <div class="description_content">
                <table>
                  <tr class="shop_look_table">
                  </tr>
                </table>
                <div class="shop-the-look-description">
                  <h2>Shop The Look</h2>
                  <p><%= word_branding(coopers_st_items.shop_the_look_items.first.brand) %></p>
                </div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'templates/mail_chimp_form_womens' %>