<div class="search_bar">
  <%= render "templates/women_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_womens" %>
<% end %>
<%= render "/templates/mobile_navigation_sliding_div_women" %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<%= form_tag women_side_search_brand_path do %>
  <div class="input-group mobile_search_form">
    <input name="query" type="text" class="form-control" placeholder="Search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search fa-4x" aria-hidden="true"></i></button>
    </span>
  </div>
<% end %>