<% if current_admin %>
  <%= render "templates/women_side_search_bar" %>
<% else %>
  <%= render "templates/navigation" %>
  <%= render "templates/navigation_mobile_womens" %>
<% end %>
<div class="menu-side">
  <%= render "templates/side_navigation_womens" %>
</div><br>
<div class="col-lg-4 col-md-4 col-sm-2 col-xs-0"></div>
<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
  <%= form_tag search_brand_path do %>
    <div class="input-group">
      <input name="query" type="text" class="form-control" placeholder="Search for brands">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
    </div>
  <% end %>
  <% if @query.length == 0 %>
    <p>Sorry no results for <%= @query_brand %><p>
  <% end %>
</div>
<div class="col-lg-4 col-md-4 col-sm-2 col-xs-0"></div><br><br><br>
<div class="container mobile_container">
  <div class="row" style="margin-left: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_womens_subcat" %>
    </div>
    <h1 class="your-items">Brands</h1>
      <% @query.each do |query_items| %>
        <div class="box col-md-4 col-sm-6 col-xs-12">
          <div class="image_div">
            <a href="/item/<%= query_items.id %>">
              <%= image_tag query_items.item_image.url(:medium) %>
            <div class="description_content">
              <% if query_items.sale == true %>
              <table>
                <tr class="specials_table">
                  <td><strike><em>$<%= zeros(query_items.price) %></em></strike></td>
                  <td>$<%= zeros(query_items.sale_price) %></td>
                </tr>
              </table>
              <% else %>
              <table>
                <tr class="normal_table">
                  <td>$<%= zeros(query_items.price) %></td>
                </tr>
              </table>
              <% end %>
              <p><%= query_items.short_description %></p>
              <p><%= word_branding(query_items.brand) %></p>
            </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "templates/footer/footer_women" %>