<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="sunday_somewhere_womens"></div>
<div class="desktop-categories"><h1>Sunday Somewhere</h1></div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items mob-ul">Sunday Somewhere</h1>
    <%= render 'templates/all_brands_display' %>
  </div>
</div>
<%= render "templates/footer/footer_women" %>