<div class="search_bar">
  <%= render "templates/women_side_search_bar" %>
</div>
<% if current_admin %>
  <%= render "templates/admin_navigation" %>
<% else %>
  <%= render "templates/navigation" %>
<% end %>
<div class="item_navigation_top_womens">
  <%= render "templates/item_navigation_womens" %>
</div>
<div class="container" style="padding: 0px; margin: 0px; width: 98.8%;">
  <div class="row">
    <div class="sunday_somewhere_womens">
    </div>
  </div>
</div>
<div class="mens-main-menu-side">
  <%= render "templates/side_navigation_womens" %>
</div>
<div class="container" style="padding: 0px;">
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="item_navigation">
      <%= render "templates/item_navigation_mens_subcat" %>
    </div>
    <h1 class="your-items">Sunday Somewhere</h1>
    <%= render "templates/horizontal_line" %>
    <% @sunday_somewhere.each do |sunday_somewhere_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div">
          <a href="/item/<%= sunday_somewhere_items.id %>">
            <%= image_tag sunday_somewhere_items.item_image.url(:medium) %>
          <div class="description_content">
            <% if sunday_somewhere_items.sale == true %>
            <table>
              <tr class="specials_table">
                <td><strike><em>$<%= zeros(sunday_somewhere_items.price) %></em></strike></td>
                <td>$<%= zeros(sunday_somewhere_items.sale_price) %></td>
              </tr>
            </table>
            <% else %>
            <table>
              <tr class="normal_table">
                <td>$<%= zeros(sunday_somewhere_items.price) %></td>
              </tr>
            </table>
            <% end %>
            <p><%= sunday_somewhere_items.short_description %></p>
            <p><%= word_branding(sunday_somewhere_items.brand) %></p>
          </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'templates/mail_chimp_form_womens' %>