<%= render "templates/mobile_nav/navigation_womens" %>
<%= render "templates/mobile_nav/mobile_navigation_sliding_div_women" %>
<%= render "templates/womens/navigation/navigation" %>
<div class="windsor_smith_womens"></div>
<div class="desktop-categories"><h1>Windsor Smith</h1></div>
<div class="container mobile_container">
  <div class="row">
    <h1 class="your-items mob-ul">Windsor Smith</h1>
    <% @windsor_smith.each do |windsor_smith_items| %>
      <div class="box col-md-4 col-sm-6 col-xs-12">
        <div class="image_div">
          <% if windsor_smith_items.class == FashionItem %>
            <a href="/item/<%= windsor_smith_items.id %>">
              <%= image_tag windsor_smith_items.item_image.url(:medium) %>
              <div class="description_content">
                <% if windsor_smith_items.sale == true %>
                  <table>
                    <tr class="specials_table">
                    <td><strike><em>$<%= zeros(windsor_smith_items.price) %></em></strike></td>
                    <td>$<%= zeros(windsor_smith_items.sale_price) %></td>
                    </tr>
                  </table>
                <% else %>
                  <table>
                    <tr class="normal_table">
                    <td>$<%= zeros(windsor_smith_items.price) %></td>
                    </tr>
                  </table>
                <% end %>
                <p><%= windsor_smith_items.short_description %></p>
                <p><%= word_branding(windsor_smith_items.brand) %></p>
              </div>
            </a>
          <% elsif windsor_smith_items.class == ShopTheLookImage %>
            <a href="/shop_the_look_images/<%= windsor_smith_items.id %>">
              <%= image_tag windsor_smith_items.shop_look_image.url(:medium) %>
              <div class="description_content">
                <table>
                  <tr class="shop_look_table">
                  </tr>
                </table>
                <div class="shop-the-look-description">
                  <h2>Shop The Look</h2>
                  <p><%= word_branding(windsor_smith_items.shop_the_look_items.first.brand) %></p>
                </div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "templates/footer/footer_women" %>